.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.about-block {
    display: flex;
    flex-direction: column;
}

.about-text-block {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.about-description-block {
    max-width: 70%;
}

.about-description-text {
    text-align: center;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.navbar-link-block {
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
}

.activeLink {
    background-color: darksalmon;
    color: white;
    border-radius: 10px;
}
